.vscode/
*.pyc
log
__pycache__/
instance/
node_modules/
*.db.bak
energy_history.db
energy_history_test.db
energy_history_test.db-journal
energy_history_test.json
*dist/
venv/
pgesmd/static/dist/
pgesmd/frontend/npm-debug.log
*/old_python
auth/
cert/
data/
venv.bak
requirements.txt.bak
set-env.sh
auth_details.xml
private/
SubRespForSource*.xml
