.dev-border {
  border: none;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-areas:
    "recent recent recent recent"
    "insights insights key pie"
    "day complete complete trend";
  width: 100%;
  max-height: 100%;
  min-width: 900px;
  min-height: 700px;
}

.recent {
  grid-area: recent;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "annual-trend active-trend passive-trend"
    "week week week";
  width: 100%;
}

.annual-trend {
  grid-area: annual-trend;
}

.active-trend {
  grid-area: active-trend;
}

.passive-trend {
  grid-area: passive-trend;
}

.week {
  grid-area: week;
  overflow: hidden;
}

.pie {
  grid-area: pie;
  align-self: center;
}

.insights {
  grid-area: insights;
  align-self: center;
  justify-self: center;
  box-shadow: 5px 5px 18px -7px;
  background-color: rgb(241, 240, 237);
  width: max-content;
  padding: 15;
}

.key {
  grid-area: key;
  align-self: center;
  justify-self: center;
}

.day {
  grid-area: day;
  overflow: hidden;
}

.complete {
  grid-area: complete;
}

.label-complete-history {
  display: flex;
  justify-content: space-between;
}

.trend {
  grid-area: trend;
  align-self: center;
}

.thirty-percent-high-row {
  height: 30vh;
  width: 100vw;
  border: solid;
}
