<head>
    <meta charset="utf-8" />
    <title>ESPI chart</title>
    <!-- import plugin script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>

<canvas id="bar-chart" width="800" height="450"></canvas>

<script>

// to J.P. - provide a dictionary keyed by the UTC times from the database - the value will simply be an index
// which can be used to perform lookup on the JSON list for chart.js.  Ideally all of the data can be sent
// to client and then parsed and ranged there without making repeated requests back to the webserver.

// or package as a dict from python?

Chart.defaults.global.responsive = false;
var data = JSON.parse({{ data | tojson }});
var ctx = document.getElementById("bar-chart").getContext("2d");

var theChart = new Chart(ctx, {
  type: 'bar',
  data: {
    datasets: [{
      data: data,
      borderColor: "#3e95cd",
      fill: false
    }]
  },
  options: {
    scales: {
      xAxes: [{
        type: 'time',
        time: {
            displayFormats: {
                minute: 'hA',
                hour: 'hA'
            }
        },
        offset: true
      }]
    },
    legend: false,
    tooltips: {
      callbacks: {
        label: function(tooltipItem, data) {
          var label = data.datasets[tooltipItem.datasetIndex].label || '';
          if (label) {
            label += ': ';
          }
          label += tooltipItem.yLabel + ' Wh';
      
          return label;
        },
        title: function(tooltipItem, data) {
          bar = moment(tooltipItem[0].xLabel);
          start = bar.add(-30, 'm');
          startString = start.format("dddd, MMMM Do YYYY, hA - ").toString();
          end = bar.add(60, 'm');
          interval = startString + end.format("hA").toString()
          return interval;
        }
      }
    }
  }
});
</script>