<head>
    <meta charset="utf-8" />
    <title>ESPI chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="static/Chart.mover.js"></script>
</head>

<canvas id="bar-chart" width="800" height="450"></canvas>

<input type="text" id="start-date" value="Oct 10 2019">
<input type="text" id="end-date" value="Oct 17 2019">
<button id="time-period">Set Time Period</button><br>
<button id="previous-week">Previous Week</button>
<button id="next-week">Next Week</button>
<h id="firstChartDate">???</h>
 - 
<h id="lastChartDate">???</h>

<script>

Chart.defaults.global.responsive = false;

var data = {{ data | tojson }};
var lookup = {{ lookup | tojson }};
var dates = {{ dates | safe }};
var part_info = {{ part_info | safe }};

colors = []
for (item of part_info) {
  colors.push(item.part_color)
}

console.log(colors)

document.write()

window.onload = function() {
  var ctx = document.getElementById("bar-chart").getContext("2d");
  window.espiChart = new Chart(ctx, {
    type: 'bar',
    data: {
      part_info: part_info,
      datasets: [{
        data: onloadData,
        backgroundColor: colors
      }]
    },
    options: {
      scales: {
        xAxes: xAxesWeek,
        yAxes: [{
          ticks: {
              suggestedMin: 0,
              suggestedMax: 5000
          }
      }]
      },
      legend: false,
      tooltips: {
        callbacks: tooltipsCallbacksWeek
      }
    }
  });
};

var tooltipsCallbacksWeek = {
  label: function(tooltipItem, data) {
    var label = data.datasets[tooltipItem.datasetIndex].label || '';
    if (label) {
      label += ': ';
    }
    label += tooltipItem.yLabel + ' Wh';

    return label;
  },
  title: function(tooltipItem, data) {
    x = moment(tooltipItem[0].xLabel).valueOf()
    entry = data.part_info[lookup[x]]
    desc = entry.part_desc
    name = entry.part_name
    sum = entry.part_sum
    date = moment(x).format('MMMM Do YYYY')
    weekday = moment(x).format('dddd')
    return weekday + " " + name + "\n" + date + "\n" + sum + " Wh used " + desc;
  }
}

var xAxesWeek = [{
  type: 'time',
  bounds: 'ticks',
  time: {
      unit: 'day',
      displayFormats: {
          minute: 'hA',
          hour: 'hA',
          day: 'dddd'
      },
  },
  offset: true
}]

function getOnloadData(data) {

}

document.getElementById('time-period').addEventListener('click', function() {
  var slicePoints = getSlicePoints('start-date', 'end-date');
  espiChart.data.datasets[0].data = data.slice(slicePoints.start, slicePoints.end);
  espiChart.data.datasets[0].backgroundColor = colors.slice(slicePoints.start, slicePoints.end);
  window.espiChart.update();
  displayDates(slicePoints.start, slicePoints.end)
});

document.getElementById('previous-week').addEventListener('click', function() {
  var slicePoints = previousInterval('week', espiChart, dates, lookup);
  espiChart.data.datasets[0].data = data.slice(slicePoints.start, slicePoints.end);
  espiChart.data.datasets[0].backgroundColor = colors.slice(slicePoints.start, slicePoints.end)
  window.espiChart.update();
  displayDates(slicePoints.start, slicePoints.end)
});

document.getElementById('next-week').addEventListener('click', function() {
  var slicePoints = nextInterval('week', espiChart, dates, lookup);
  espiChart.data.datasets[0].data = data.slice(slicePoints.start, slicePoints.end);
  espiChart.data.datasets[0].backgroundColor = colors.slice(slicePoints.start, slicePoints.end)
  window.espiChart.update();
  displayDates(slicePoints.start, slicePoints.end)
});

function displayDates(i, j) {
  document.getElementById("firstChartDate").innerHTML = part_info[i].date;
  document.getElementById("lastChartDate").innerHTML = part_info[j].date;
};


</script>