<head>
  <meta charset="utf-8" />
  <title>Baseline</title>
  <!-- import plugin script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
</head>

<!-- bar chart canvas element -->
<canvas id="myChart" width="1024" height="400"></canvas>

<script>
  // Global parameters:
  // do not resize the chart canvas when its container does (keep at 600x400px)
  Chart.defaults.global.responsive = true;

  // define the chart data
  var chartData = {
    labels : [{% for item in labels %}
               "{{item}}",
              {% endfor %}],
    datasets : [
      {
      label: 'Daily Minimum Watt Hour',
      fill: false,
      borderWidth: 1,
      backgroundColor: "#408be0",
      borderColor: "#408be0",
      pointRadius: 0,
      data : [{% for item in value_min %}
                {{item}},
              {% endfor %}],
      spanGaps: false
    },
    {
      label: 'pandas *%&#ery',
      fill: false,
      borderWidth: 3,
      order: 1,
      backgroundColor: "#FF0000",
      borderColor: "#FF0000",
      pointRadius: 0,
      data : [{% for item in mean %}
                {{item}},
              {% endfor %}],
      spanGaps: false
    }]
  }

  const options = {
    tooltips: {
      callbacks: {
        label: (item) => `${item.yLabel} Wh`,
      },
    },
  }

  // get chart canvas
  var ctx = document.getElementById("myChart").getContext("2d");

  // create the chart using the chart canvas
  var myChart = new Chart(ctx, {
    type: 'line',
    data: chartData,
    options,
  });
</script>
