<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>start</td>
            <td>duration</td>
            <td>value</td>
            <td>watt_hours</td>
            <td>date</td>
            <td>part_type</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["start"]}}</td>
               <td>{{row["duration"]}}</td>
               <td>{{row["value"]}}</td>
               <td>{{row["watt_hours"]}}</td>
               <td>{{row["date"]}}</td>	
               <td>{{row["part_type"]}}</td>	
            </tr>
         {% endfor %}
      </table>
   </body>
</html>