<!doctype html>

<html>
    <title>Test GUI</title>
    <h1>Test GUI and graphing functionality</h1>
    <ul>
        <li><a href= 'test-espi-list'>View espi Table</a></li>
        <li><a href= 'test-espi-chart'>View ESPI Bar Graph</a></li>
        <li><a href= 'test-baseline'>View Baseline Line Graph</a></li>
        <li><a href= 'test-partitions-list'>View partitions Table</a></li>
        <li><a href= 'test-partitions-chart'>View partitions Bar Graph</a></li>
        <li><a href= 'test-info-list'>View info Table</a></li>
    </ul>
</html>