html,
#root {
  background-color: #f6f8ff;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

footer {
  text-align: center;
  margin: 10px;
  justify-self: flex-end;
}

.main-tab-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}
.sidebar-and-contents {
  padding: 0px;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex: 1;
}

.sidebar-icon {
  color: #5f5566;
}

.energy-chart-header-container {
  padding-left: 70px;
}

.friendly-name-title {
  font-size: 20px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #f6f8ff;
  width: 130px;
  padding-right: 20px;
  flex: 1;
}

.pattern-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pattern-title {
  font-size: medium;
}

.pattern-option {
  display: flex;
  align-items: center;
  font-size: small;
  color: darkgrey;
}

.pattern-option-checkbox {
  margin-right: 10px;
}

.day-week-pattern {
  display: flex;
  margin-bottom: 50px;
  border: solid;
  border-color: rgb(221, 216, 211);
  border-width: 2px;
  padding: 10px;
  flex: 1;
  min-height: 300px;
}
.dash-primary-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  flex: 1;
  min-height: 150px;
}

.pattern-day-labels-container {
  padding-left: 35px;
}

.pattern-week-labels-container {
  padding-left: 50px;
  padding-right: 10px;
}

.pattern-labels-day {
  display: flex;
  justify-content: space-between;
}

.pattern-labels-week {
  display: flex;
  justify-content: space-around;
}

.narrow-row {
  display: flex;
  justify-content: space-around;
}

.short-stack {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.energy-history-flex {
  flex: 1;
  height: 100%;
}

.pattern-flex-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  margin-right: 50px;
}

.pattern-flex-2 {
  display: flex;
  flex-direction: column;
  flex: 2;
  overflow: hidden;
  text-align: center;
  margin-right: 50px;
}

.space-around {
  justify-content: space-around;
}

.pattern-chartJS-box {
  flex: 1;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-228 {
  height: 228px;
  width: 228px;
}

.wide-228 {
  max-width: 228px;
  margin: 0;
}

.pattern-div-2-rectangle {
  width: 400px;
  height: 200px;
}

.pattern-div-4-rectangle {
  width: 800px;
  height: 200px;
}

.react-datepicker__input-container > input {
  border: none;
}

.bg-dark {
  background-color: #5f5566 !important;
}

.btn {
  border: none;
}

.btn:hover {
  background-color: #6d6472;
}

.btn-primary:active,
.btn:active {
  background-color: #3c383f !important;
}

.btn-primary {
  background-color: #5f5566;
}

.btn:disabled {
  background-color: #5f556665 !important;
}

.show > .btn-primary.dropdown-toggle {
  background-color: #5f5566;
}

.datePickers {
  display: flex;
  justify-content: space-between;
}

.datePickerWithScrollers {
  display: flex;
  border-radius: 0.25rem;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: none;
  padding-left: 70px;
}

#window-date {
  font-size: 20px;
}

.box {
  flex: 1;
  display: flex;
  justify-content: left;
  margin: 10px;
}

.box > button,
.box > div {
  margin-right: 5px;
}

.box:first-child > span {
  margin-right: auto;
}

.box:last-child > span {
  margin-left: auto;
}

.box {
  align-items: center;
  height: 40px;
}

.right-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.right-bar > div,
.right-bar > canvas {
  width: 150px;
}

@media screen and (max-height: 800px) {
  .right-bar {
    flex-direction: row;
    flex-shrink: 0;
    width: 310px;
    height: 75%;
  }
  .right-bar > div {
    align-self: center;
  }
}

.source-tabs {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-box {
  height: 100px;
  width: 75px;
}

.tab-container {
  display: flex;
  background-color: #cdc5d3;
}

.tab {
  max-width: 4rem;
  text-align: center;
  color: grey;
  cursor: pointer;
  padding: 5px;
  transition: all 0.1s ease-out;
  font-size: 10pt;
  margin: auto;
}

.tab:hover {
  max-width: 4.5rem;
}

.tab-container div.tab:hover {
  color: black;
}

.tab-selected {
  color: black;
  background-color: #f6f8ff;
}

.energy-chart {
  width: 100%;
  min-width: 100px;
  max-width: 1800px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.default-text {
  font-size: 12pt;
  padding-top: 10px;
}

.demo-link {
  font-size: 12pt;
  padding-top: 10px;
  cursor: pointer;
}

.demo-link:hover {
  text-decoration: underline;
}

.login-box {
  margin: auto;
  margin-top: 40px;
  padding: 10px;
}

.register-box {
  margin: auto;
  margin-top: 40px;
  padding: 10px;
}

.data-loader {
  display: block;
  margin: auto;
  text-align: center;
}

.energy-history {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.energy-history-main-div {
  display: flex;
  height: 100%;
}

.form-control {
  min-width: 130px;
  max-width: 130px;
}

.login-form {
  min-width: 130px;
  max-width: 300px;
}

.form-title {
  font-size: 26pt;
}

.bad-creds {
  font-size: 10pt;
  color: red;
  margin-bottom: 10px;
}

.Part-Pie-Radio.active {
  background-color: blue !important;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100% !important;
}

.main {
  display: flex;
  justify-content: center;
}

.kilowatt-hour {
  display: flex;
  justify-content: center;
}

.info-big-number {
  display: flex;
  justify-content: center;
  font-size: 26pt;
}

.info-medium-number {
  display: flex;
  justify-content: center;
  font-size: 16pt;
}

.info-wrapper {
  position: relative;
}

.big-chart-title {
  justify-content: center;
  font-size: 26pt;
  padding: 10px;
}

.arrow-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  margin-top: -56px;
  left: 50%;
  margin-left: -56px;
  opacity: 20%;
}

.info-details {
  display: flex;
  justify-content: center;
  font-size: 8pt;
}

.background-green {
  background-color: lightgreen;
}

.background-orange {
  background-color: lightsalmon;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.mdi-trendline {
  z-index: -10;
}

@keyframes rotate-arrow-upside-down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-arrow-upside-up {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-arrow-upside-down {
  animation-name: rotate-arrow-upside-down;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.rotate-arrow-upside-up {
  animation-name: rotate-arrow-upside-up;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
