html,
#root {
  background-color: #f6f8ff;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

footer {
  text-align: center;
  margin: 10px;
  justify-self: flex-end;
}

.bg-dark {
  background-color: #5f5566 !important;
}

.btn-primary {
  background-color: #5f5566;
}

.container {
  display: flex;
  max-width: none;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > span {
  margin-right: auto;
}

.box:last-child > span {
  margin-left: auto;
}

.box {
  align-items: center;
  height: 40px;
}

.right-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.right-bar > div,
.right-bar > canvas {
  width: 150px;
}

@media screen and (max-height: 800px) {
  .right-bar {
    flex-direction: row;
    flex-shrink: 0;
    width: 310px;
    height: 75%;
  }
  .right-bar > div {
    align-self: center;
  }
}

.source-tabs {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-container {
  display: flex;
}

.tab {
  height: 30px;
  width: 10vw;
  border-right: 1px solid grey;
  border-bottom: 1px solid gray;
  border-top: none;
  text-align: center;
  color: grey;
  cursor: pointer;
}

.tab-container div.tab:hover {
  color: black;
}

.tab-selected {
  height: 30px;
  width: 10vw;
  border-bottom: none;
  border-right: 1px solid grey;
  text-align: center;
  color: black;
}

.tab-selected-last {
  height: 30px;
  width: 10vw;
  border-bottom: none;
  border-right: none;
  text-align: center;
  color: black;
}

.energy-chart {
  width: 100%;
  min-width: 100px;
  max-width: 1800px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}

.default-text {
  font-size: 12pt;
  padding-top: 10px;
}

.demo-link {
  font-size: 12pt;
  padding-top: 10px;
  cursor: pointer;
}

.demo-link:hover {
  text-decoration: underline;
}

.login-box {
  margin: auto;
  margin-top: 40px;
  padding: 10px;
}

.register-box {
  margin: auto;
  margin-top: 40px;
  padding: 10px;
}

.data-loader {
  display: block;
  margin: auto;
  text-align: center;
}

.energy-history {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.energy-history-main-div {
  display: flex;
  height: 100%;
}

.btn {
  min-width: 130px;
}

.form-control {
  min-width: 130px;
  max-width: 130px;
}

.login-form {
  min-width: 130px;
  max-width: 300px;
}

.form-title {
  font-size: 26pt;
}

.bad-creds {
  font-size: 10pt;
  color: red;
  margin-bottom: 10px;
}

.Part-Pie-Radio.active {
  background-color: blue !important;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100% !important;
}

.main {
  display: flex;
  justify-content: center;
}

.kilowatt-hour {
  display: flex;
  justify-content: center;
}

.info-big-number {
  display: flex;
  justify-content: center;
  font-size: 26pt;
}

.info-medium-number {
  display: flex;
  justify-content: center;
  font-size: 16pt;
}

.info-wrapper {
  position: relative;
}

.big-chart-title {
  justify-content: center;
  font-size: 26pt;
  padding: 10px;
}

.arrow-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  margin-top: -56px;
  left: 50%;
  margin-left: -56px;
  opacity: 20%;
}

.info-details {
  display: flex;
  justify-content: center;
  font-size: 8pt;
}

.background-green {
  background-color: lightgreen;
}

.background-orange {
  background-color: lightsalmon;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.mdi-trendline {
  z-index: -10;
}

@keyframes rotate-arrow-upside-down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-arrow-upside-up {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-arrow-upside-down {
  animation-name: rotate-arrow-upside-down;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.rotate-arrow-upside-up {
  animation-name: rotate-arrow-upside-up;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
